* {
  box-sizing: border-box;
  color: white;
}

html {
  overflow-x: hidden;
}

body {
  /* height: 100vh; */
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Nunito";
}

nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  /* position: relative; */
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 50%;
}

ul li {
  padding: 10px;
}

ul li a {
  color: white;
  font-size: 22px;
}

ul li a:hover {
  color: #009d62;
}

a {
  text-decoration: none;
}

.buttons button:first-child {
  background-color: #009d62;
  border: none;
  color: white;
  height: 60px;
  width: 250px;
  border-radius: 10px;
  font-size: 25px;
  margin: 30px 50px 0 0;
  cursor: pointer;
}

.buttons button:first-child:active {
  outline: none;
}

.buttons button:nth-child(2) {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.buttons button:nth-child(2):hover {
  color: #009d62;
}

.buttons button:nth-child(2):active {
  outline: none;
}

/* classes */

.mainPadding {
  padding: 60px;
  height: 100vh;
  overflow-y: auto;
  display: none;
}

.mainPadding.active {
  display: block;
}

.container {
  margin: 0;
  padding: 0 150px;
  height: 817px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  position: relative;
}

.logo img {
  width: 75px;
}

.desktop-menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-menu li a {
  font-size: 24px;
}

.desktop-menu li:nth-child(4) {
  padding-right: 0px;
}

.desktop-menu li a:hover {
  color: #009d62;
}

.hero-section {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10vh;
  position: relative;
}

.hero-section h1 {
  color: white;
  font-size: 55px;
  padding: 0;
  margin: 0;
}

.hero-section h2 {
  color: #817f7f;
  font-size: 25px;
}

.hero-section .headers {
  height: 100%;
  display: flex;
  width: auto;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  margin-right: 100px;
}

.hero-section .tech-container {
  width: 500px;
  height: 500px;
  position: relative;
}

.hero-section .tech-container .techs {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-section .tech-container .techs a {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .tech-container .techs img {
  width: 100px;
}

.react {
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  animation: ReactIcon 2s linear infinite;
}

.mongodb {
  top: 100px;
  left: 0px;
  animation: MongodbIcon 2s linear infinite;
}

.nodejs {
  top: 100px;
  left: 100%;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  animation: NodeJsIcon 2s linear infinite;
}

.sass {
  top: 300px;
  left: 0px;
  animation: SassIcon 2s linear infinite;
}

.html {
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.css {
  top: 300px;
  left: 100%;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  animation: CssIcon 2s linear infinite;
}

.js {
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  animation: JsIcon 2s linear infinite;
}

.controls, .upDownControls, .upControl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 50%;
  bottom: 0;
}

.controls .triangle, .upDownControls .triangle, .upControl .triangle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  height: 0px;
  position: absolute;
  z-index: 3;
  border-bottom: 150px solid white;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
}

.upDownControls .triangle {
  border-bottom: 200px solid white;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
}

.controls .triangle .down-control, 
.upDownControls .triangle .down-control, 
.upDownControls .triangle .up-control,
.upControl .triangle .up-control {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  animation: DownButton 1s linear infinite;
}

.controls .triangle .down-control .green-circle,
.upControl .triangle .up-control .green-circle {
  display: inline-block;
  width: 70px;
  height: 70px;
  /* margin-bottom: -125px; */
  background-color: white;
  border: 3px solid #009d62;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  top: 0px;
}

.upDownControls .triangle .down-control .green-circle {
  display: inline-block;
  width: 70px;
  height: 70px;
  /* margin-bottom: -125px; */
  background-color: white;
  border: 3px solid #009d62;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  top: 40px;
  left: -80px;
}

.upDownControls .triangle .up-control .green-circle {
  display: inline-block;
  width: 70px;
  height: 70px;
  /* margin-bottom: -125px; */
  background-color: white;
  border: 3px solid #009d62;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  top: 40px;
  left: 10px;
}

.controls .triangle .down-control .green-triangle-down {
  position: absolute;
  width: 0;
  height: 0;
  /* margin-bottom: -125px; */
  border-top: 25px solid #009d62;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  cursor: pointer;
  top: 25px;
}

.upDownControls .triangle .down-control .green-triangle-down {
  position: absolute;
  width: 0;
  height: 0;
  /* margin-bottom: -125px; */
  border-top: 25px solid #009d62;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  cursor: pointer;
  top: 65px;
  left: -70px;
}

.upDownControls .triangle .up-control .green-triangle-up {
  cursor: pointer;
  position: absolute;
  width: 0;
  height: 0;
  margin-bottom: -115px;
  border-bottom: 25px solid #009d62;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  top: 60px;
  left: 20px;
  /* animation: MoveDownTriangle 1s linear infinite; */
}

.upControl .triangle .up-control .green-triangle-up {
  cursor: pointer;
  position: absolute;
  width: 0;
  height: 0;
  margin-bottom: -115px;
  border-bottom: 25px solid #009d62;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  top: 20px;
}

@keyframes DownButton {
  0%,
  100% {
    top: 20px;
  }
  50% {
    top: 50px;
  }
}

@keyframes ReactIcon {
  0%, 100% {
    top: 0;
  }
  50% {
    top:20%;
  }
}

@keyframes MongodbIcon {
  0%, 100% {
    top: 20%;
    left: 0; 
  }
  50% {
    top:30%;
    left: 20%;
  }
}

@keyframes SassIcon {
  0%, 100% {
    top: 60%;
    left: 0; 
  }
  50% {
    top: 50%;
    left: 20%;
  }
}

@keyframes NodeJsIcon {
  0%, 100% {
    top: 20%;
    left: 100%; 
  }
  50% {
    top: 30%;
    left: 80%;
  }
}

@keyframes CssIcon {
  0%, 100% {
    top: 60%;
    left: 100%; 
  }
  50% {
    top: 50%;
    left: 80%;
  }
}

@keyframes JsIcon {
  0%, 100% {
    top: 80%;
  }
  50% {
    top: 60%;
  }
}

#projects {
  height: 100vh;
  overflow-y: auto;
}

.projects {
  height: 1900px;
  /* margin-bottom: 150px; */
}

.all-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.github-logo {
  height: 50px;
  margin-top: -50px;
  z-index: 5;
  position: absolute;
  left: 10px;
  bottom: 15px;
}

.section-title {
  color: white;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.project-no1 {
  width: 100%;
  /* height: 300px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: #212121;
  border-radius: 10px;
}

.project-no1 .project-img {
  position: relative;
  display: flex;
  align-items: center;
}

.project-no1 .project-img .project-no1-img {
  width: 275px;
  height: auto;
  border-radius: 10px;
}

.project-no1 .project-text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  max-width: 750px;
  padding-left: 70px;
}

.project-no1 .project-text .project-techs {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.project-no1 .project-text .project-techs span {
  margin-right: 50px;
}

.project-no1 .project-text .project-techs img {
  width: 75px;
  margin-right: 30px;
}

.project-no2 {
  width: 100%;
  /* height: 300px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 50px;
}

.project-no2 .project-img {
  position: relative;
  display: flex;
  align-items: center;
}

.project-no2 .project-img .project-no2-img {
  width: 275px;
  height: auto;
  border-radius: 10px;
}

.project-no2 .project-text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  max-width: 750px;
  padding-right: 70px;
}

.project-no2 .project-text .project-techs {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.project-no2 .project-text .project-techs span {
  margin-right: 50px;
}

.project-no2 .project-text .project-techs img {
  width: 75px;
  margin-right: 30px;
}

.about-me .aboutMe-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-me .aboutMe-links a {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.about-me img {
  width: 75px;
}

.about-me .aboutMe-content .aboutMe-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-me .aboutMe-content .aboutMe-text {
  width: 900px;
  font-size: 20px;
  margin-left: 100px;
  text-align: justify;
}

.contactMe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactMe-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.contact-me .contactMe-inputs .contactMe-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  margin: 50px;
}

.contact-me .contactMe-inputs .contactMe-row input,
textarea {
  /* width: 300px; */
  background: transparent;
  border: 1px solid white;
  font-size: 20px;
  margin-bottom: 30px;
  font-family: "Nunito";
  padding: 10px;
}

.contact-me .contactMe-inputs .contactMe-row input {
  border: none;

  padding: 10px;
  border-bottom: 1px solid white;
}

.contact-me .contactMe-inputs .contactMe-row input:focus {
  outline: none;
}

.contact-me .contactMe-inputs .contactMe-row textarea {
  border-radius: 5px;
}

.contact-me .contactMe-inputs .contactMe-row textarea:focus {
  outline: none;
}

.contact-me button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #009d62;
  cursor: pointer;
  width: 300px;
  height: 50px;
  font-size: 22px;
  outline:none;
}

.contactMe-form > span {
  margin-top: 10px;
  color: #ad0000;
  display: none;
}

.contact-me button:hover {
  color: white;
}

.contact-me button:active {
  outline: none;
}

/* .contact-me .contactMe-row .console textarea {
  width: 100% !important;
  height: 50% !important;
  font-size: 20px;
  margin-right: 50px !important;
  border: 5px solid rgb(29, 29, 29);
  background-color: rgb(20, 20, 20);
}

.contact-me .console span {
  margin: 0 10px 0 20px;
  font-size: 20px;
} */

.contact-me .contactMe-row .commands-help {
  width: 40%;
  margin-left: 50px;
}

li.hamburger-menu {
  display: flex;
  flex-direction: column;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

li.hamburger-menu span {
  width: 0px;
  height: 5px;
  background-color: white;
  margin: 5px 0;
}

/*Media queries*/

@media screen and (max-width: 1550px) {
  .hero-section {
    justify-content: flex-end;
  }

  .hero-section .headers {
    position: absolute;
    margin-right: 0px;
    left: 0;
    z-index: 2;
  }

  .mongodb img, .sass img  {
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.5), rgba(0,0,0,0.8), rgba(0,0,0,1));
    mask-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.5), rgba(0,0,0,0.8), rgba(0,0,0,1));
  }
}

@media screen and (max-width: 1450px) {
  .mongodb img, .sass img  {
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.3), rgba(0,0,0,0.8), rgba(0,0,0,1));
    mask-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.3), rgba(0,0,0,0.8), rgba(0,0,0,1));
  }

  li.hamburger-menu {
    display: flex !important;
    cursor: pointer;
    margin-right: 150px;
    position: absolute;
    right: 0;
    z-index: 4;
    width: 60px;
    height: 45px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  
  li.hamburger-menu span {
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  li.hamburger-menu span:nth-child(1) {
    top: 0px;
  }

  li.hamburger-menu span:nth-child(2),li.hamburger-menu span:nth-child(3) {
    top: 18px;
  }

  li.hamburger-menu span:nth-child(4) {
    top: 36px;
  }
  
  li.hamburger-menu.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  li.hamburger-menu.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  li.hamburger-menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  li.hamburger-menu.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  .desktop-menu {
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    width: 0px;
    height: 817px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #313131;
    transition: width ease-in 0.5s;
  }

  #projectsDM {
    height: 1900px;
  }

  .desktop-menu li {
    margin: 20px;
    font-size: 20px;
    width: 150px;
    text-align: center;
  }
  
  .desktop-menu li a:hover {
    color: #009d62;
  }
}

@media screen and (max-width: 1349px) {
  .mongodb img, .sass img  {
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.5));
    mask-image: linear-gradient(to right, rgba(0,0,0,0.2) rgba(0,0,0,0.5));
  }

  .project-no1 .project-img .project-no1-img,
  .project-no2 .project-img .project-no2-img {
    width: 250px;
    height: auto;
    border-radius: 10px;
  }

}

@media screen and (max-width: 1320px) {
  .mongodb, .sass {
    opacity: 0.2;
  }

  .mongodb img, .sass img {
    -webkit-mask-image: none;
    mask-image: none;
  }

  .project-no1 .project-img .project-no1-img,
  .project-no2 .project-img .project-no2-img {
    width: 200px;
    height: auto;
    border-radius: 10px;
  }
}

@media screen and (max-width: 1260px) {

  .project-no1 .project-text .project-techs img,
  .project-no2 .project-text .project-techs img {
    width: 55px;
    margin-right: 30px;
  }

  .project-no1 .project-text .project-techs span,
  .project-no2 .project-text .project-techs span {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .react img, .html img, .js img {
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.5), rgba(0,0,0,0.8), rgba(0,0,0,1));
    mask-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.5), rgba(0,0,0,0.8), rgba(0,0,0,1));
  }

  .project-no1 .project-text,
  .project-no2 .project-text {
    font-size: 18px;
  }

  .project-no1 .project-text {
    padding-left: 20px;
  }

  .project-no2 .project-text {
    padding-right: 20px;
  }

  .contactMe-inputs {
    flex-direction: column;
  }

  .contact-me .contactMe-inputs .contactMe-row {
    margin: 0;
  }

  .contact-me .contactMe-inputs div:first-child {
    margin-bottom: 30px;
  }

  .contact-me button {
    margin-top: 30px;
  }
}

@media screen and (max-width: 1145px) {
  .react img, .html img, .js img  {
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.5));
    mask-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.5));
  }

  .project-no1 .project-img .project-no1-img,
  .project-no2 .project-img .project-no2-img {
    width: 175px;
    height: auto;
    border-radius: 10px;
  }

  .project-no1 .project-text .project-techs img,
  .project-no2 .project-text .project-techs img {
    width: 50px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 1105px) {
  .react img, .html img, .js img {
    -webkit-mask-image: none;
    mask-image: none;
  }

  .react, .html, .js {
    opacity: 0.2;
  }

  .project-no1, .project-no2 {
    flex-direction: column;
  }

  .projects {
    height: 2400px;
  }

  .project-no2 {
    margin: 50px 0;
  }

  .project-no2 .project-img {
    order: 1;
  }
  .project-no2 .project-text {
    order: 2;
  }

  .project-no1 .project-img .project-no1-img,
  .project-no2 .project-img .project-no2-img {
    width: 200px;
    height: auto;
    border-radius: 10px;
  }

  .project-no1 .project-text,
  .project-no2 .project-text {
    margin: 50px 0 0 0;
    font-size: 16px;
    padding: 0;
    width: 100%;
    text-align: justify;
  }

  .project-no1 .project-text .project-techs,
  .project-no2 .project-text .project-techs {
    justify-content: center;
  }

  .project-no1 .project-text .project-techs span, .project-no2 .project-text .project-techs span {
    display: none;
  }

  .about-me .aboutMe-content {
    flex-direction: column;
  }

  .about-me .aboutMe-content .aboutMe-text {
    width: auto;
    margin: 50px 0 0 0;
    font-size: 18px;
  }

  .about-me .aboutMe-content .aboutMe-links {
    flex-direction: row;
  }
  
}

@media screen and (max-width: 1000px) {
  .nodejs img, .css img {
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.5), rgba(0,0,0,0.8), rgba(0,0,0,1));
    mask-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.5), rgba(0,0,0,0.8), rgba(0,0,0,1));
  }
}

@media screen and (max-width: 950px) {
  .nodejs img, .css img {
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.5));
    mask-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.5));
  }
}

@media screen and (max-width: 937px) {
  .container {
    padding: 0 100px;
  }

  li.hamburger-menu {
    margin-right: 100px;
  }
}

@media screen and (max-width: 915px) {
  .nodejs img, .css img {
    -webkit-mask-image: none;
    mask-image: none;
  }

  .nodejs, .css {
    opacity: 0.2;
  }

  .hero-section {
    justify-content: center;
  }

  .hero-section .headers {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 470px;
  }
}

@media screen and (max-width: 937px) {
  .container {
    padding: 0 75px;
  }

  li.hamburger-menu {
    margin-right: 75px;
  }
}

@media screen and (max-width: 787px) {
  .hero-section .tech-container .techs a, .hero-section .tech-container .techs img {
    width: 90px;
  }

  .hero-section .tech-container .techs a {
    height: 90px;
  }

  .hero-section .tech-container {
    width: 450px;
    height: 450px;
  }

  .mongodb, .nodejs {
    top: 90px;
  }

  .sass, .css {
    top: 270px
  }

  .html {
    top: 180px;
  }

  .js {
    top: 360px;
  }
}

@media screen and (max-width: 740px) {
  .hero-section .tech-container .techs a, .hero-section .tech-container .techs img {
    width: 80px;
  }

  .hero-section .tech-container .techs a {
    height: 80px;
  }

  .hero-section .tech-container {
    width: 400px;
    height: 400px;
  }

  .mongodb, .nodejs {
    top: 80px;
  }

  .sass, .css {
    top: 240px
  }

  .html {
    top: 160px;
  }

  .js {
    top: 320px;
  }

  .hero-section .headers {
    width: 450px;
  }

  .hero-section .headers h1 {
    font-size: 50px;
  }

  .buttons button:first-child {
    width: 200px;
    font-size: 20px;
  }

  .buttons button:nth-child(2) {
    font-size: 17px;
  }
}

@media screen and (max-width: 687px) {
  .mainPadding {
    padding: 20px;
  }

  .container {
    padding: 0 30px;
  }

  li.hamburger-menu {
    margin-right: 30px;
  }

  .hero-section .headers {
    width: 400px;
  }

  .hero-section .headers h1 {
    font-size: 45px;
  }

  .hero-section .headers h2 {
    font-size: 25px;
  }

  .buttons button:first-child {
    width: 200px;
    font-size: 22px;
    height: 50px;
  }

  .buttons button:nth-child(2) {
    font-size: 19px;
  }
}

@media screen and (max-width: 550px) {
  .upDownControls .triangle {
    border-bottom: 160px solid white;
    border-left: 210px solid transparent;
    border-right: 210px solid transparent;
  }

  .about-me .aboutMe-links a {
    padding: 10px 20px;
  }

  .about-me img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 500px) {
  

  .hero-section .headers {
    width: 350px;
  }

  .hero-section .headers h1 {
    font-size: 40px;
  }

  .hero-section .headers h2 {
    font-size: 25px;
  }

  .buttons button:first-child {
    width: 200px;
    font-size: 22px;
    height: 50px;
  }

  .buttons button:nth-child(2) {
    font-size: 19px;
  }

  .hero-section .tech-container .techs a, .hero-section .tech-container .techs img {
    width: 70px;
  }

  .hero-section .tech-container .techs a {
    height: 70px;
  }

  .hero-section .tech-container {
    width: 350px;
    height: 350px;
  }

  .mongodb, .nodejs {
    top: 70px;
  }

  .sass, .css {
    top: 210px
  }

  .html {
    top: 140px;
  }

  .js {
    top: 280px;
  }

  .project-no1 .project-text .project-techs img,
  .project-no2 .project-text .project-techs img {
    width: 40px;
  }
  .project-no1 .project-text .project-techs img:nth-child(5),
  .project-no2 .project-text .project-techs img:nth-child(5) {
    margin-right: 0;
  }

  .contact-me .contactMe-inputs .contactMe-row textarea {
    width: 100%;
  }

}

@media screen and (max-width: 420px) {

  .hero-section .headers {
    width: 300px;
  }

  .hero-section .headers h1 {
    font-size: 35px;
  }

  .hero-section .headers h2 {
    font-size: 22px;
  }

  .buttons button:first-child {
    width: 150px;
    font-size: 18px;
    height: 50px;
  }

  .buttons button:nth-child(2) {
    font-size: 17px;
  }

  .hero-section .tech-container .techs a, .hero-section .tech-container .techs img {
    width: 60px;
  }

  .hero-section .tech-container .techs a {
    height: 60px;
  }

  .hero-section .tech-container {
    width: 300px;
    height: 300px;
  }

  .mongodb, .nodejs {
    top: 60px;
  }

  .sass, .css {
    top: 180px
  }

  .html {
    top: 120px;
  }

  .js {
    top: 240px;
  }
}

@media screen and (min-width: 1700px) {
  .logo img {
    width: 85px;
  }

  ul li a {
    font-size: 25px;
  }

  .hero-section .headers h1 {
    font-size: 70px;
  }

  .hero-section .headers h2 {
    font-size: 35px;
  }

  .buttons button:first-child {
    width: 300px;
    margin: 30px 100px 0 0;
  }
}


